{% extends "base.html" %} {% load widget_tweaks %} 
{% block content %}
<div class="content-header">
  {% if request.resolver_match.url_name == 'create_task' %}
    <h1>Create a new task</h1>
  {% endif %}
  {% if request.resolver_match.url_name == 'update_task' %}
    <h1>Update task</h1>
  {% endif %}

</div>
<div id="form-group">
  <form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="tweet-composer">
      <label>Insert your task</label>
      {{ form.task|add_class:"card js-keeper-editor" }}
    </div>
    <label>Select your category</label>
    {{ form.category|add_class:"card" }}

    {% if request.resolver_match.url_name == 'update_task' %}
      <label>What's the status of the task?</label>
        {{ form.status|add_class:"card" }}
      <label>Current points:</label>
        {{ form.points|add_class:"card" }}
      <label>Finalized date:</label>
        {{ form.ending_date|add_class:"card" }}
    {% endif %}
    <button type="submit" class="btn btn-success">Send</button>
  </form>
</div>

{% endblock content %}