{% extends "base.html" %}

{% block content %}

<div class="content-header">
  <h1>Current points: {{points}}</h1>
</div>

<!-- First graph (quarterly goals) -->
<div class="widget-box sample-widget">
  <div class="widget-header">
    <h2> Quarter: {{initial_date_quarter}} to {{lastDayQuarter}} </h2>
  </div>
  <div class="widget-content">
    <canvas id="graph_goals_quarter" width="700" height="400"></canvas>
  </div>
</div>

<div class="widget-box sample-widget">
  <div class="widget-header">
    <h2> Quarter: {{initial_date_quarter}} to {{lastDayQuarter}} </h2>
  </div>
  <div class="widget-content">
    <canvas id="graph_goals_status_task" width="700" height="400"></canvas>
  </div>
</div>

<div class="widget-box sample-widget">
  <div class="widget-header">
    <h2> Current date: {{current_date}} </h2>
  </div>
  <div class="widget-content">
    <canvas id="graph_long_medium_term_goals" width="700" height="400"></canvas>
  </div>
</div>

<div class="widget-box sample-widget">
  <div class="widget-header">
    <h2>Current week: {{week}} | Date: {{current_date}} </h2>
  </div>
  <div class="widget-content">
    <canvas id="graph_points_week" width="700" height="425"></canvas>
  </div>
</div>

<div class="widget-box sample-widget">
  <div class="widget-header">
    <h2>Quarter: {{initial_date_quarter}} to {{lastDayQuarter}}</h2>
  </div>
  <div class="widget-content">
    <canvas id="graph_status_month" width="700" height="425"></canvas>
  </div>
</div>

<div class="widget-box sample-widget">
    <div class="widget-header">
      <h2>Quarter: {{initial_date_quarter}} to {{lastDayQuarter}}</h2>
    </div>
    <div class="widget-content">
      <canvas id="graph_categories_month" width="700" height="425"></canvas>
    </div>
</div>

{% endblock %}

<script>
{% block jquery %}

  // First graph: Goals in quarter

  var endpoint = 'dashboard_goals_quarter' //This is an endpoint that communicates with the urls and then executes the view that is attached to it
  var labels_graph = []
  var values_graph = []
  $.ajax({
    method: "GET",
    url: endpoint,
    dataType: 'json',
    success: function(front_end_dictionary){
        $.each(front_end_dictionary,function(key,val){
          if (key == "labels_graph"){
            labels_graph = val
          }else if (key == "values_graph"){
            values_graph = val
          }
        });
        setGoalsQuarter()
    },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(JSON.stringify(jqXHR));
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
    }
  })

    // Define the chart for the first graph
  function setGoalsQuarter()
  {
    var ctx_graph     = document.getElementById("graph_goals_quarter")
    var display_graph = new Chart(ctx_graph, {
      type:'bar',
      plugins: [ChartDataLabels],
        data: {
            labels: labels_graph,
            datasets :
                [{
                  data: values_graph,
                  backgroundColor: [
                      'rgba(237, 98, 18, 0.9)',
                      'rgba(54, 162, 235, 0.9)',
                      'rgba(255, 206, 86, 0.9)',
                      'rgba(75, 192, 192, 0.9)',
                      'rgba(153, 102, 255, 0.9)',
                      'rgba(45, 154, 35, 0.9)',
                      'rgba(154, 39, 35, 0.9)',
                      ],
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                }]
        },
        options : {
          responsive: true,
          tooltipTemplate: "<%= value %>",
          tooltipFillColor: "rgba(0,0,0,0)",
          tooltipFontColor: "#444",
          tooltipEvents: [],
          tooltipCaretSize: 0,
          scales: {
              y: {
                grid: {
                  display: false,
                  drawBorder: true,
                  drawTicks: false,
                },
                title:{
                  display: true,
                  text: 'Progress %',
                  font: {
                    size: 15
                  },
                  color: '#000'
                }
              },
              x: {
                grid: {
                  display: false,
                  drawBorder: true,
                  drawTicks: false,
                },
                title:{
                  display: false,
                  text: 'Current tasks',
                  font: {
                    size: 20
                  },
                  color: '#000'
                }
              }
            }, //end of scales
            plugins: {
              legend: {
                display: false,
                position: 'right',
                labels: {
                  color: '#000',
                  font: {
                    size: 25
                  },
                }
              },
              title:{
                display: true,
                text: 'Goals in current Quarter',
                font: {
                    size: 20
                  },
                padding: 25,
                color: '#000',
              },
              datalabels: {
                align: 'center',
                anchor: 'center',
                formatter: (val) => (`${val}%`),
                labels:{
                  value: {
                    color: '#fff'
                  }
                }
              }
            },
            layout: {
              padding: {
                left: 50,
                right: 0,
                bottom: 0,
                top: 0
              }
            },
          }// end of options
      }); // end of display_graph variable
    }// end of function


 var endpoint = 'dashboard_goals_status_task' //This is an endpoint that communicates with the urls and then executes the view that is attached to it
  var labels_graph = []
  var values_graph = []
  var legend       = []
  $.ajax({
    method: "GET",
    url: endpoint,
    dataType: 'json',
    success: function(front_end_dictionary){
        $.each(front_end_dictionary,function(key,val){
          if (key == "labels_graph"){
            labels_graph = val
          }else if (key == "values_graph"){
            values_graph = val
          }else if (key=="legend"){
            legend = val
          }
        });
        setGoalsStatusTaskQuarter()
    },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(JSON.stringify(jqXHR));
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
    }
  })

    // Define the chart for the second graph
    function setGoalsStatusTaskQuarter()
  {
    var ctx_graph     = document.getElementById("graph_goals_status_task")
    var display_graph = new Chart(ctx_graph, {
      type:'bar',
      plugins: [ChartDataLabels],
        data: {
            labels: labels_graph,
            datasets :
                [{
                  label: legend[0],
				          data: values_graph[0],
                  backgroundColor: 'rgba(251, 95, 4, 0.9)',
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                },

                {
                  label: legend[1],
				          data: values_graph[1],
                  backgroundColor: 'rgba(202, 28, 28, 0.9)',
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                },

                {
                  label: legend[2],
				          data: values_graph[2],
                  backgroundColor: 'rgba(251, 235, 4, 0.9)',
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                },
              ]
                  
        },
        options : {
		        responsive: true,
		        tooltipTemplate: "<%= value %>",
		        tooltipFillColor: "rgba(0,0,0,0)",
		        tooltipFontColor: "#444",
		        tooltipEvents: [],
		        tooltipCaretSize: 0,
                tooltips: {mode: 'label'},
                scales: {
                        y: {
                            ticks: {
                                beginAtZero: true,
                                fontColor: '#000',
                                fontSize: 10,
                                },
                            grid: {
                                display: false,
                                drawBorder: true,
                                drawTicks: false,
                                color:'#000'
                                },
                            scaleLabel: {
                                display: true,
                                fontSize: 15,
                                labelString: 'Number of tasks in goals',
                                fontColor: '#000'
                                },
                                stacked: true
                            },
                        x: {
                            ticks: {
                                fontColor: '#000',
                                fontSize: 10
                            },
                            grid: {
                                display:false,
                                drawBorder: true,
                                drawTicks: false,
                                color:'#000'
                            },
                            scaleLabel: {
                                display: false,
                                fontSize: 30,
                                labelString: 'Current days',
                                fontColor: '#fff'
                            },
                            stacked: true
                        }
                },//end of scales
                plugins: {
                  datalabels: {
                    display: true,
                    align: 'center',
                    anchor: 'center',
                    labels:{
                      value: {
                      color: '#fff'
                      },
                      font:{
                        size: 15,
                        }
                      }
                    },

                title: {
                        display: true,
                        text: 'Status of Tasks in Goals',
                        font:{
                            size: 20
                          },
                        padding: {
                          top: 10,
                          bottom: 5,
                          left: 0,
                          right: 0
                        },
                        color: '#000'
                      },

                legend: {
                        position: 'right',
                        display: true,
                        labels: {
                          color: '#000',
                          font: {
                          size: 15
                          },
                        }
		                  },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
        }
      }// end of options
    }); // end of display_graph variable
}// end of function


  var endpoint = 'dashboard_long_medium_term_goal' //This is an endpoint that communicates with the urls and then executes the view that is attached to it
  var labels_graph = []
  var values_graph = []
  $.ajax({
    method: "GET",
    url: endpoint,
    dataType: 'json',
    success: function(front_end_dictionary){
        $.each(front_end_dictionary,function(key,val){
          if (key == "labels_graph"){
            labels_graph = val
          }else if (key == "values_graph"){
            values_graph = val
          }
        });
        setGoalsLongMediumTerm()
    },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(JSON.stringify(jqXHR));
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
    }
  })

  // Long and Medium term goals
  function setGoalsLongMediumTerm()
  {
    var ctx_graph     = document.getElementById("graph_long_medium_term_goals")
    var display_graph = new Chart(ctx_graph, {
      type:'bar',
      plugins: [ChartDataLabels],
        data: {
            labels: labels_graph,
            datasets :
                [{
                  data: values_graph,
                  backgroundColor: [
                      'rgba(237, 98, 18, 0.9)',
                      'rgba(54, 162, 235, 0.9)',
                      'rgba(255, 206, 86, 0.9)',
                      'rgba(75, 192, 192, 0.9)',
                      'rgba(153, 102, 255, 0.9)',
                      'rgba(45, 154, 35, 0.9)',
                      'rgba(154, 39, 35, 0.9)',
                      ],
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                }]
        },
        options : {
          responsive: true,
          tooltipTemplate: "<%= value %>",
          tooltipFillColor: "rgba(0,0,0,0)",
          tooltipFontColor: "#444",
          tooltipEvents: [],
          tooltipCaretSize: 0,
          scales: {
              y: {
                grid: {
                  display: false,
                  drawBorder: true,
                  drawTicks: false,
                },
                title:{
                  display: true,
                  text: 'Progress %',
                  font: {
                    size: 15
                  },
                  color: '#000'
                }
              },
              x: {
                grid: {
                  display: false,
                  drawBorder: true,
                  drawTicks: false,
                },
                title:{
                  display: false,
                  text: 'Current tasks',
                  font: {
                    size: 20
                  },
                  color: '#000'
                }
              }
            }, //end of scales
            plugins: {
              legend: {
                display: false,
                position: 'right',
                labels: {
                  color: '#000',
                  font: {
                    size: 25
                  },
                }
              },
              title:{
                display: true,
                text: 'Medium & Long Term Goals',
                font: {
                    size: 20
                  },
                padding: 25,
                color: '#000',
              },
              datalabels: {
                align: 'center',
                anchor: 'center',
                formatter: (val) => (`${val}%`),
                labels:{
                  value: {
                    color: '#fff'
                  }
                }
              }
            },
            layout: {
              padding: {
                left: 50,
                right: 0,
                bottom: 0,
                top: 0
              }
            },
          }// end of options
      }); // end of display_graph variable
    }// end of function

    // graph: Points in Tasks

  var endpoint = 'dashboard_points_week' //This is an endpoint that communicates with the urls and then executes the view that is attached to it
  var labels_graph = []
  var values_graph = []
  $.ajax({
    method: "GET",
    url: endpoint,
    dataType: 'json',
    success: function(front_end_dictionary){
        $.each(front_end_dictionary,function(key,val){
          if (key == "labels_graph"){
            labels_graph = val
          }else if (key == "values_graph"){
            values_graph = val
          }
        });
        setGraphPoints()
    },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(JSON.stringify(jqXHR));
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
    }
  })

    // Define the chart for the first graph
  function setGraphPoints()
  {
    var ctx_graph     = document.getElementById("graph_points_week")
    var display_graph = new Chart(ctx_graph, {
      type:'pie',
      plugins: [ChartDataLabels],
        data: {
            labels: labels_graph,
            datasets :
                [{
                  data: values_graph,
                  backgroundColor: [
                      'rgba(237, 98, 18, 0.9)',
                      'rgba(54, 162, 235, 0.9)',
                      'rgba(255, 206, 86, 0.9)',
                      'rgba(75, 192, 192, 0.9)',
                      'rgba(153, 102, 255, 0.9)',
                      'rgba(45, 154, 35, 0.9)',
                      'rgba(154, 39, 35, 0.9)',
                      ],
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                }]
        },
        options : {
          responsive: false,
          layout: {
            padding: {
              top: 30,
              bottom: 50,
              right: 0,
              left: 10
            }
          },
          plugins: {
              legend:{
                display: true,
                position: 'right',
                labels: {
                  color: '#000',
                  font:{
                    size: 15,
                  }
                }
              },
              title:{
                display: true,
                text: 'Current Active Tasks',
                font: {
                  size: 20
                },
                padding: {
                  top: 5,
                  bottom: 15,
                  left: 0,
                  right: 0
                },
                color: '#000'
              },
              datalabels: {
                    align: 'center',
                    anchor: 'center',
                    formatter: (val) => (`${val}%`),
                    labels: {
                      value:{
                        color: '#fff'
                      }
                    }
                  }
                }
          }// end of options
        }); // end of display_graph variable
      }// end of function
    // Second graph: Category of Tasks

  var endpoint = 'dashboard_categories_month' //This is an endpoint that communicates with the urls and then executes the view that is attached to it
  var labels_graph = []
  var values_graph = []
  $.ajax({
    method: "GET",
    url: endpoint,
    dataType: 'json',
    success: function(front_end_dictionary){
        $.each(front_end_dictionary,function(key,val){
          if (key == "labels_graph"){
            labels_graph = val
          }else if (key == "values_graph"){
            values_graph = val
          }
        });
        setGraphCategories()
    },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(JSON.stringify(jqXHR));
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
    }
  })


    // Define the chart for the first graph
  function setGraphCategories()
  {
    var ctx_graph     = document.getElementById("graph_categories_month")
    var display_graph = new Chart(ctx_graph, {
    type:'pie',
    plugins: [ChartDataLabels],
        data: {
            labels: labels_graph,
            datasets :
                [{
                  data: values_graph,
                  backgroundColor: [
                      'rgba(237, 98, 18, 0.9)',
                      'rgba(54, 162, 235, 0.9)',
                      'rgba(255, 206, 86, 0.9)',
                      'rgba(75, 192, 192, 0.9)',
                      'rgba(153, 102, 255, 0.9)',
                      'rgba(45, 154, 35, 0.9)',
                      'rgba(154, 39, 35, 0.9)',
                      ],
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                }]
        },
        options : {
          responsive: false,
          layout: {
            padding: {
              top: 30,
              bottom: 50,
              right: 0,
              left: 10
            }
          },
          plugins: {
              legend:{
                display: true,
                position: 'right',
                labels: {
                  color: '#000',
                  font:{
                    size: 15,
                  }
                }
              },
              title:{
                display: true,
                text: 'Categories of Tasks by Quarter',
                font: {
                  size: 20
                },
                padding: {
                  top: 5,
                  bottom: 15,
                  left: 0,
                  right: 0
                },
                color: '#000'
              },
              datalabels: {
                    align: 'center',
                    anchor: 'center',
                    formatter: (val) => (`${val}%`),
                    labels: {
                      value:{
                        color: '#fff'
                      }
                    }
                  }
                }
          }// end of options
        }); // end of display_graph variable
      }// end of function

      
  
  var endpoint = 'dashboard_status_month' //This is an endpoint that communicates with the urls and then executes the view that is attached to it
  var labels_graph = []
  var values_graph = []
  $.ajax({
    method: "GET",
    url: endpoint,
    dataType: 'json',
    success: function(front_end_dictionary){
        $.each(front_end_dictionary,function(key,val){
          if (key == "labels_graph"){
            labels_graph = val
          }else if (key == "values_graph"){
            values_graph = val
          }
        });
        setGraphStatus()
    },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(JSON.stringify(jqXHR));
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
    }
  })

    // Define the chart for the second graph

  function setGraphStatus()
  {
    var ctx_graph     = document.getElementById("graph_status_month")
    var display_graph = new Chart(ctx_graph, {
    type:'pie',
    plugins: [ChartDataLabels],
        data: {
            labels: labels_graph,
            datasets :
                [{
                  data: values_graph,
                  backgroundColor: [
                      'rgba(228, 17, 17, 0.9)',
                      'rgba(228, 196, 17, 0.9)',
                      'rgba(14, 152, 11, 0.9)',
                      ],
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                }]
        },
        options : {
          responsive: false,
          layout: {
            padding: {
              top: 30,
              bottom: 50,
              right: 0,
              left: 10
            }
          },
          plugins: {
              legend:{
                display: true,
                position: 'right',
                labels: {
                  color: '#000',
                  font:{
                    size: 15,
                  }
                }
              },
              title:{
                display: true,
                text: 'Status of Tasks by Quarter',
                font: {
                  size: 20
                },
                padding: {
                  top: 5,
                  bottom: 15,
                  left: 0,
                  right: 0
                },
                color: '#000'
              },
              datalabels: {
                    align: 'center',
                    anchor: 'center',
                    formatter: (val) => (`${val}%`),
                    labels: {
                      value:{
                        color: '#fff'
                      }
                    }
                  }
                }
          }// end of options
        }); // end of display_graph variable
      }// end of function

{% endblock %}
</script>
