{% extends "base.html" %}

{% block content %}

<div class="content-header">
  <h1>Current points: {{points}}</h1>
</div>

<!-- First graph -->
<div class="widget-box sample-widget-extended">
    <div class="widget-header">
      <h2>Current week {{week}}</h2>
    </div>
    <div class="widget-content">
      <canvas id="graph_points_week" width="700" height="150"></canvas>
    </div>
</div>

<!-- Second graph -->
<div class="widget-box sample-widget">
    <div class="widget-header">
      <h2>Current month: {{month}}</h2>
    </div>
    <div class="widget-content">
      <canvas id="graph_categories_month" width="700" height="450"></canvas>
    </div>
</div>

<!-- Third graph -->
<div class="widget-box sample-widget">
    <div class="widget-header">
      <h2>Current month: {{month}}</h2>
    </div>
    <div class="widget-content">
      <canvas id="graph_status_month" width="700" height="450"></canvas>
    </div>
</div>

{% endblock %}


<script>
{% block jquery %}

    // First graph: Points in Tasks

  var endpoint = 'dashboard_points_week' //This is an endpoint that communicates with the urls and then executes the view that is attached to it
  var labels_graph = []
  var values_graph = []
  $.ajax({
    method: "GET",
    url: endpoint,
    dataType: 'json',
    success: function(front_end_dictionary){
        $.each(front_end_dictionary,function(key,val){
          if (key == "labels_graph"){
            labels_graph = val
          }else if (key == "values_graph"){
            values_graph = val
          }
        });
        setGraphPoints()
    },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(JSON.stringify(jqXHR));
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
    }
  })

    // Define the chart for the first graph
  function setGraphPoints()
  {
    var ctx_graph     = document.getElementById("graph_points_week")
    var display_graph = new Chart(ctx_graph, {
      type:'pie',
        data: {
            labels: labels_graph,
            datasets :
                [{
                  data: values_graph,
                  backgroundColor: [
                      'rgba(237, 98, 18, 0.9)',
                      'rgba(54, 162, 235, 0.9)',
                      'rgba(255, 206, 86, 0.9)',
                      'rgba(75, 192, 192, 0.9)',
                      'rgba(153, 102, 255, 0.9)',
                      'rgba(45, 154, 35, 0.9)',
                      'rgba(154, 39, 35, 0.9)',
                      ],
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                }]
        },
        options : {
          responsive: true,
          tooltipTemplate: "<%= value %>",
          tooltipFillColor: "rgba(0,0,0,0)",
          tooltipFontColor: "#444",
          tooltipEvents: [],
          tooltipCaretSize: 0,
                plugins: {
                    datalabels: {
                          display: true,
                          align: 'center',
                          anchor: 'center',
                          color: '#fff'
                         }
                      },
                title: {
                    display: true,
                    text: 'Points in Tasks',
                    fontSize: 30,
                    padding: 50,
                    fontColor: '#000'
                    },
                legend: {
                    position: 'right',
                    display: true,
                labels: {
                    fontColor: '#000',
                    fontSize: 15
                  }
              },
          layout: {
              padding: {
                  left: 50,
                  right: 0,
                  bottom: 0,
                  top: 0
              }
          },
          tooltips: {
                    callbacks: {
                    label: function(tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];
                        var total = 0;
                        for (var i in allData) {
                            total +=  parseInt(allData[i]);
                        }
                        var tooltipPercentage = Math.round((tooltipData / total) * 100);

                        return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                              } //end of function
                          } // end of callbacks
                      } // end of tooltips
          }// end of options
        }); // end of display_graph variable
      }// end of function

    // Second graph: Category of Tasks

  var endpoint = 'dashboard_categories_month' //This is an endpoint that communicates with the urls and then executes the view that is attached to it
  var labels_graph = []
  var values_graph = []
  $.ajax({
    method: "GET",
    url: endpoint,
    dataType: 'json',
    success: function(front_end_dictionary){
        $.each(front_end_dictionary,function(key,val){
          if (key == "labels_graph"){
            labels_graph = val
          }else if (key == "values_graph"){
            values_graph = val
          }
        });
        setGraphCategories()
    },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(JSON.stringify(jqXHR));
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
    }
  })

    // Define the chart for the first graph
  function setGraphCategories()
  {
    var ctx_graph     = document.getElementById("graph_categories_month")
    var display_graph = new Chart(ctx_graph, {
    type:'pie',
        data: {
            labels: labels_graph,
            datasets :
                [{
                  data: values_graph,
                  backgroundColor: [
                      'rgba(237, 98, 18, 0.9)',
                      'rgba(54, 162, 235, 0.9)',
                      'rgba(255, 206, 86, 0.9)',
                      'rgba(75, 192, 192, 0.9)',
                      'rgba(153, 102, 255, 0.9)',
                      'rgba(45, 154, 35, 0.9)',
                      'rgba(154, 39, 35, 0.9)',
                      ],
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                }]
        },
        options : {
          responsive: true,
          tooltipTemplate: "<%= value %>",
          tooltipFillColor: "rgba(0,0,0,0)",
          tooltipFontColor: "#444",
          tooltipEvents: [],
          tooltipCaretSize: 0,
                plugins: {
                    datalabels: {
                          display: true,
                          align: 'center',
                          anchor: 'center',
                          color: '#fff'
                         }
                      },
                title: {
                    display: true,
                    text: 'Categories of Tasks',
                    fontSize: 30,
                    padding: 50,
                    fontColor: '#000'
                    },
                legend: {
                    position: 'right',
                    display: true,
                labels: {
                    fontColor: '#000',
                    fontSize: 15
                  }
              },
          layout: {
              padding: {
                  left: 50,
                  right: 0,
                  bottom: 0,
                  top: 0
              }
          },
          tooltips: {
                    callbacks: {
                    label: function(tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];
                        var total = 0;
                        for (var i in allData) {
                            total +=  parseInt(allData[i]);
                        }
                        var tooltipPercentage = Math.round((tooltipData / total) * 100);

                        return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                              } //end of function
                          } // end of callbacks
                      } // end of tooltips
          }// end of options
        }); // end of display_graph variable
      }// end of function

    // Third graph: Status of Tasks
    var endpoint = 'dashboard_status_month' //This is an endpoint that communicates with the urls and then executes the view that is attached to it
  var labels_graph = []
  var values_graph = []
  $.ajax({
    method: "GET",
    url: endpoint,
    dataType: 'json',
    success: function(front_end_dictionary){
        $.each(front_end_dictionary,function(key,val){
          if (key == "labels_graph"){
            labels_graph = val
          }else if (key == "values_graph"){
            values_graph = val
          }
        });
        setGraphStatus()
    },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(JSON.stringify(jqXHR));
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
    }
  })

    // Define the chart for the second graph

  function setGraphStatus()
  {
    var ctx_graph     = document.getElementById("graph_status_month")
    var display_graph = new Chart(ctx_graph, {
    type:'pie',
        data: {
            labels: labels_graph,
            datasets :
                [{
                  data: values_graph,
                  backgroundColor: [
                      'rgba(237, 98, 18, 0.9)',
                      'rgba(54, 162, 235, 0.9)',
                      'rgba(255, 206, 86, 0.9)',
                      'rgba(75, 192, 192, 0.9)'
                      ],
                  borderColor: '#000',
                  borderWidth: 2,
                  hoverBorderWidth: 3,
                  hoverBorderColor: '#000'
                }]
        },
        options : {
          responsive: true,
          tooltipTemplate: "<%= value %>",
          tooltipFillColor: "rgba(0,0,0,0)",
          tooltipFontColor: "#444",
          tooltipEvents: [],
          tooltipCaretSize: 0,
                plugins: {
                    datalabels: {
                          display: true,
                          align: 'center',
                          anchor: 'center',
                          color: '#fff'
                         }
                      },
                title: {
                    display: true,
                    text: 'Status of Tasks',
                    fontSize: 30,
                    padding: 50,
                    fontColor: '#000'
                    },
                legend: {
                    position: 'right',
                    display: true,
                labels: {
                    fontColor: '#000',
                    fontSize: 15
                  }
              },
          layout: {
              padding: {
                  left: 50,
                  right: 0,
                  bottom: 0,
                  top: 0
              }
          },
          tooltips: {
                    callbacks: {
                    label: function(tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];
                        var total = 0;
                        for (var i in allData) {
                            total +=  parseInt(allData[i]);
                        }
                        var tooltipPercentage = Math.round((tooltipData / total) * 100);

                        return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                              } //end of function
                          } // end of callbacks
                      } // end of tooltips
          }// end of options
        }); // end of display_graph variable
      }// end of function



{% endblock %}
</script>