{% extends "base.html" %} {% load widget_tweaks %} 
{% block content %}
<div class="content-header">
  {% if request.resolver_match.url_name == 'create_goal' %}
    <h1>Create a new goal</h1>
  {% endif %}
  {% if request.resolver_match.url_name == 'update_goal' %}
    <h1>Update a goal</h1>
  {% endif %}
</div>

<body onload="makeReadOnly();">
  <div id="form-group">
    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
          
          <label>Insert your goal</label>
            {{ form.goal|add_class:"card" }}

          <br />
          <br />
            <label>Initial date</label>
              {{ form.initial_date|add_class:"card" }}

            <br />
            <br />
            <label>Expiration date</label>
              {{ form.expiration_date|add_class:"card" }}  

            <br />
            <br />  

            {% if request.resolver_match.url_name == 'update_goal' %}
            
            
            <label>What's the status of the goal?</label>
              {{ form.status|add_class:"card" }}

            <br />
            <br />

            <div class="tweet-composer">
              <label>Comments</label>
                {{ form.comments|add_class:"card js-keeper-editor" }}
            </div>

            <br />
            <br />

            <div class="tweet-composer">
              <label>Final notes</label>
                {{ form.final_notes|add_class:"card  js-keeper-editor" }}  
            </div>

            <br />
            <br />

            <label>Finalized date:</label>
              {{ form.ending_date|add_class:"card" }}
          {% endif %}
          
          <br />
          <br />
        <button type="submit" class="btn btn-success">Send</button>
    </form>
  </div>
</body>

{% endblock content %}
<script type="text/javascript">
{% block jquery %}


{% endblock %}
</script>