<section id="sidebar">
  <div class="white-label"></div>
  <div id="sidebar-nav">
    <ul>
      <li class="header-menu">
        <a href="/"><i class="fa fa-tachometer-alt"></i> My Performance</a>
      </li>
      <li class="sidebar-dropdown">
        <a href="/task/previous_tasks"
          ><i class="fas fa-tasks"></i>Previous Tasks</a
        >
        <!--
        <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="/task/previous_tasks">Weeks</a>
                </li>
                <li>
                  <a href="#">Months</a>
                </li>
                <li>
                  <a href="#">Years</a>
                </li>
              </ul>
            </div>
            -->
      </li>
      <li>
        <a href="/task/new"><i class="fas fa-calendar-plus"></i> New Task</a>
      </li>
      <li>
        <a href="/task/tasks"><i class="fas fa-pencil-alt"></i>Update Tasks</a>
      </li>
      <li>
        <a href="#"><i class="far fa-trash-alt"></i>Delete Tasks</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-book-open"></i> Documentation</a>
      </li>
    </ul>
  </div>
</section>
