<section id="navbar">
    <div id="header">
        <div class="header-nav">
          <div class="menu-button">
            <!--<i class="fa fa-navicon"></i>-->
          </div>
          <div class="nav">
            <ul>
              <li class="nav-settings">
                <div class="font-icon"><i class="fa fa-tasks"></i></div>
              </li>
              <li class="nav-calendar">
                <div class="font-icon"><i class="fa fa-calendar"></i></div>
              </li>
              <li class="nav-profile">
                <div class="nav-profile-image">
                  <img src="https://i.stack.imgur.com/b6c2l.jpg?s=328&amp;g=1" alt="" width="164" height="164" class="bar-sm avatar-user">
                  <div class="nav-profile-name">Alejandro Ramos<i class="fa fa-caret-down"></i></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
  </div>
</section>

