# Distribution and packages

# Virtual environments
venv/

# Databases
db.sqlite3

# Cache

*/ __pycache__ /*

mydashboard/__pycache__/*
mydashboard/task/__pycache__/*
mydashboard/settings/__pycache__/*
mydashboard/settings/__pycache__/*
mydashboard/__init__.pyc
mydashboard/__pycache__/wsgi.cpython-36.pyc
mydashboard/__pycache__/urls.cpython-36.pyc
mydashboard/wsgi.pyc
mydashboard/__pycache__/__init__.cpython-36.pyc
category/__pycache__/*
task/templatetags/__pycache__/*
home/__pycache__/*
accounts/__pycache__/*
accounts/migrations/*


goal/migrations/__pycache__/*

user_profile/__pycache__/*
user_profile/migrations/__pycache__/*

# Migrations
mydashboard/task/migrations/__pycache__/*
mydashboard/task/migrations/*

accounts/migrations/*
task/migrations/*
live-static/*
goal/migrations/*
home/migrations/*
user_profile/migrations/*
category/migrations/*

# Other folders
.idea/
mydashboard/live-static/static-root/*
.vscode/*sendgrid.env
sendgrid.env
.vscode
.env
