{% extends "base_home.html" %} {% load widget_tweaks %} 

{% block content %}
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
    <form method="POST"> {% csrf_token %}
        <div class="wrap-login">
            <legend class="border-bottom mb-4">Log In </legend>
            <div class="avatar-login">
                <img src="{% static 'pages/img/profile_pic.png' %}" alt="avatar_pic" class="avatar-login">
            </div>
            <!--<input type="text" placeholder="username" required>-->
		        <div class="bar">
                    {{form.login}}
			        <i></i>
                </div>
                {{form.password}}
		    <!--<input type="password" placeholder="password" required>-->
		        <a href="" class="forgot_link">forgot ?</a>
                <button type="submit">Log in</button>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need an account?<a class="ml-2" href="/register">Sign Up Now</a>
                </small>
            </div>
        </div>
    </form>



    

{% endblock content %}