{% extends "base_home.html" %} {% load widget_tweaks %} 

{% block content %}

{% load static %}
<div class="container"> 
    <form method="POST"> {% csrf_token %}
        <div class="wrap-login">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
            </fieldset>
            
            <div class="bar">
                Email <br />
                {{form.email}}
            </div>
            <br />
            
            <div class="bar">
                Username <br />
                {{form.username}}
            </div>
            <br />
            
            <div class="bar">
                Password <br />
                {{form.password1}}
            </div>
            <br />
           
            <div class="bar">
                Password confirmation <br />
                {{form.password2}}
            </div>
            <br />

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
            
            <small class="text-muted">
                Already have an account?<a class="ml-2" href="/login">Log In</a>
            </small>
        </div>
    </form>
</div>

{% endblock content %}