
.tweet-composer {
  position: relative;
  z-index: 1;
}

.js-keeper-editor {
  border: 1px solid #dadada;
}

.js-keeper-editor,
.js-keeper-placeholder-back {
  background: transparent;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; /* Same font for both. */
  margin: auto;
  min-height: 200px;
  outline: none;
  padding: 10px;
  resize: vertical;
  width: 100%;
}

.js-keeper-placeholder-back {
  bottom: 0;
  color: transparent;
  left: 0;
  position: absolute;
  top: 0;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
  z-index: -1;
}

.js-keeper-placeholder-back em {
  background: #fcc !important;
}

/* Not important for the sake of this thing, just some styles to make it pretty. */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  background: #fff;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.05);
  margin:auto;
  padding: 20px;
  position: relative;
  width: 400px;
}

