{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Telos</title>
    
    <!-- Load the CSS files -->
      
      <!-- Bootstrap core CSS -->
      <link href="{% static 'home/css/bootstrap.css' %}" type="text/css" rel="stylesheet" />

      <link href="{% static 'accounts/css/login.css' %}" type="text/css" rel="stylesheet" />

      <!--<link href="{% static 'home/css/all.min.css' %}" rel="stylesheet">-->
      <link href="{% static 'home/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">

      <!-- Custom fonts -->
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

      <!-- Custom styles for this template -->
      <link href="{% static 'home/css/landing-page.css' %}" rel="stylesheet">
  
  </head>

  <!--Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!--Make the bg-dark to #000-->
    <div class="container">

      <a class="navbar-brand" href="/">Telos</a> <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="btn btn-secondary" href="/tasks">Main</a>
              <a class="btn btn-secondary" href="/logout">Log Out</a>
            {% else %}
              <a class="btn btn-primary" href="/register">Register</a>
              <a class="btn btn-secondary" href="/login">Log In</a>
            {% endif %}
          </li>					
        </ul>
      </div>
    </div>
    </nav>
    <!-- Navigation -->
    
{% block content %}

{% endblock %}

<!-- Footer -->
<footer class="footer bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Telos App 2019. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!--------------------------------- Mandatory JavaScript ---------------------------------->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'home/js/jquery.js' %}"></script>
  <script src="{% static 'home/js/bootstrap.bundle.js' %}"></script>
</html>