{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Telos</title>
    
    <!-- Load the CSS files -->
      
      <!-- Bootstrap core CSS -->
      <link href="{% static 'home/css/bootstrap.css' %}" type="text/css" rel="stylesheet" />

      <link href="{% static 'home/css/all.min.css' %}" rel="stylesheet">
      <link href="{% static 'home/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">

      <!-- Custom fonts -->
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

      <!-- Custom styles for this template -->
      <link href="{% static 'home/css/landing-page.css' %}" rel="stylesheet">
  
  </head>

{% block content %}

{% endblock %}

<!--------------------------------- Mandatory JavaScript ---------------------------------->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'home/js/jquery.js' %}"></script>
  <script src="{% static 'home/js/bootstrap.bundle.js' %}"></script>
</html>