<div class = 'row' >
    <h3 style="color:#000">You are reviewing:</h3>
    <div style="display:inline-block">
        <h4 style="color:#000">Current year: <span id="display_year"></span></h4>
    </div>
    <div style="display:inline-block"></div>
    <div style="display:inline-block"></div>
    <div style="display:inline-block">
        <h4 style="color:#000">Current month: <span id="display_month"></span></h4>
    </div>
    <div style="display:inline-block"></div>
    <div style="display:inline-block">
        <h4 style="color:#000">Current day: <span id="display_day"></span></h4>
    </div>
    <div style="display:inline-block"></div>
        <div style="display:inline-block"></div>
        <div style="display:inline-block">
            <h4 style="color:#000">Current market: <span id="display_market"></span></h4>
        </div>
</div>
